<footer class="mt-5">
  <div class="bg-primary text-text py-8 px-4 space-y-8">
    <!-- REDES SOCIALES -->
    <div class="flex space-x-4 justify-center">
      <i
        class="transition-all ease-in duration-100 cursor-pointer hover:font-bold px-1 hover:scale-110 text-xl fa-brands fa-facebook-f"></i>
      <i
        class="transition-all ease-in duration-100 cursor-pointer hover:font-bold px-1 hover:scale-110 text-xl fa-brands fa-instagram"></i>
      <i
        class="transition-all ease-in duration-100 cursor-pointer hover:font-bold px-1 hover:scale-110 text-xl fa-brands fa-youtube"></i>
      <i
        class="transition-all ease-in duration-100 cursor-pointer hover:font-bold px-1 hover:scale-110 text-xl fa-brands fa-twitter"></i>
    </div>
    <!-- INFORMACIÓN -->
    <div class=" flex flex-col items-center">
      <p class="transition-all ease-in duration-100 cursor-pointer hover:font-bold px-1 hover:scale-110 ">Sobre nosotros
      </p>
      <p class="transition-all ease-in duration-100 cursor-pointer hover:font-bold px-1 hover:scale-110 ">Preguntas
        frecuentes</p>
      <p class="transition-all ease-in duration-100 cursor-pointer hover:font-bold px-1 hover:scale-110 ">Contáctanos
      </p>
      <p class="transition-all ease-in duration-100 cursor-pointer hover:font-bold px-1 hover:scale-110 "
        [routerLink]="'/help'">Ayuda</p>
      <p class="transition-all ease-in duration-100 cursor-pointer hover:font-bold px-1 hover:scale-110 "
        [routerLink]="'/about'">Acerca de</p>
    </div>
    <!-- COPYRIGHT -->
    <div class="flex flex-col items-center">
      <p class="">Copyright © 2025 Novagames corp.</p>
      <p>
        <span class="underline">Antonio Jesús Ramírez Arcos</span>. Todos los
        derechos reservados.
      </p>
    </div>
  </div>
</footer>