<header>
  <div
    class="h-20 flex justify-between items-center px-8 py-4 bg-primary border-b-2 border-surface text-lg text-text"
  >
    <div class="py-2 px-4 cursor-pointer" (click)="navToHome()">
      <img
        class="transition-all duration-300 ease-in-out min-w-52 max-w-52 "
        src="assets/images/novagames/logo.png"
        alt="logo"
      />
    </div>

    <!-- Botón Menú Mobile-->
    <button class="lg:hidden focus:outline-none" (click)="toggleMenu()">
      <i class="text-3xl mb-0 fa-solid fa-bars"></i>
    </button>

    <!-- Menú principal -->
    <nav class="hidden lg:flex space-x-2 text-xl ">
      <a
        [routerLink]="'/'"
        routerLinkActive="bg-accent"
        [routerLinkActiveOptions]="{ exact: true }"
        class="py-2 px-4 rounded-xl hover:bg-accent/20"
      >
        {{ "navbar.home" | translate }}
      </a>
      <a
        [routerLink]="'/games'"
        routerLinkActive="bg-accent"
        class="py-2 px-4 rounded-xl hover:bg-accent/20"
      >
        {{ "navbar.games" | translate }}
      </a>
      <a
        [routerLink]="'/upload-game'"
        routerLinkActive="bg-accent"
        class="py-2 px-4 rounded-xl text-nowrap hover:bg-accent/20"
      >
        {{ "navbar.uploadGame" | translate }}
      </a>
    </nav>
    <!-- Idiomas y login -->
    <div class="hidden lg:flex items-center space-x-4">
      @if (!isUserLogged) {
      <div class="hidden lg:flex items-center space-x-1">
        <div class="py-2 cursor-pointer text-nowrap" (click)="navToLogIn()">
          <p class="hover:underline">{{ "navbar.login" | translate }} |</p>
        </div>
        <div class="py-2 cursor-pointer text-nowrap" (click)="navToSignUp()">
          <p class="hover:underline">{{ "navbar.signUp" | translate }}</p>
        </div>
      </div>
      } @else {
      <div class="flex justify-center items-center relative">
        <div
          class="flex justify-center items-center space-x-2 cursor-pointer py-2 px-4 rounded-xl hover:bg-accent"
          (click)="toggleProfile()"
        >
          <figure class="">
            <img
              [src]="'assets/images/profile_images/' + userData.profile_image"
              alt=""
              class="h-12 min-w-12 border-4 border-accent rounded-full aspect-square object-cover bg-accent"
            />
          </figure>
          <div class="flex flex-col leading-6">
            <p
              class="whitespace-nowrap overflow-hidden text-ellipsis text-[clamp(0.4rem, 2vw, 1.25rem)]"
            >
              {{ userData.username }}
            </p>

            <small class="opacity-50 truncate">{{ userData.email }}</small>
          </div>
        </div>
        @if (isProfileOpen) {
        <div
          class="absolute top-[4.4rem] bg-primary w-full py-2 px-2 rounded-b-lg space-y-2"
        >
          <p
            class="hover:bg-accent cursor-pointer py-2 px-2 rounded-xl"
            (click)="navToProfile()"
          >
            {{ "navbar.profile" | translate }}
          </p>
          <p
            class="hover:bg-accent cursor-pointer py-2 px-2 rounded-xl"
            (click)="navToProfile()"
          >
            {{ "navbar.myGames" | translate }}
          </p>
          <p
            class="hover:bg-accent cursor-pointer py-2 px-2 rounded-xl"
            (click)="signOut()"
          >
            {{ "navbar.signOut" | translate }}
          </p>
        </div>
        }
      </div>
      }
      <app-change-language></app-change-language>
    </div>
    <!-- Menú mobile-->
    <div
      [ngClass]="{
        'translate-x-0': isMenuOpen,
        '-translate-x-full': !isMenuOpen
      }"
      class="transition-all ease-out duration-300 absolute top-20 left-0 w-full h-full bg-black/50 lg:hidden"
      (click)="toggleMenu()"
    ></div>
    <div
      [ngClass]="{
        'translate-x-0': isMenuOpen,
        '-translate-x-full': !isMenuOpen
      }"
      class="transition-all ease-out duration-300 absolute left-0 top-20 w-60 h-full bg-primary text-text lg:hidden"
    >
      <div
        class="flex flex-col items-center space-y-2 bg-primary border-b border-surface px-6 pb-6 pt-4"
      >
        <div class="flex">
          <app-change-language></app-change-language>
        </div>

        @if (!isUserLogged) {
        <div class="flex flex-col items-center leading-3">
          <div class="py-2 cursor-pointer text-nowrap" (click)="navToLogIn()">
            <p class="hover:underline">{{ "navbar.login" | translate }}</p>
          </div>
          <div class="py-2 cursor-pointer text-nowrap" (click)="navToSignUp()">
            <p class="hover:underline">{{ "navbar.signUp" | translate }}</p>
          </div>
        </div>
        } @else {
        <div class="flex flex-col justify-center items-center">
          <div
            class="flex flex-col items-center text-center cursor-pointer py-2 px-4"
            (click)="navToProfile()"
          >
            <figure class="">
              <img
                [src]="'assets/images/profile_images/' + userData.profile_image"
                alt=""
                class="h-12 border-4 border-accent rounded-full aspect-square object-cover bg-accent"
              />
            </figure>
            <div class="flex flex-col leading-4">
              <p class="text-xl">{{ userData.username }}</p>
              <small class="opacity-50">{{ userData.email }}</small>
            </div>
          </div>
        </div>
        <div class="flex flex-col w-full">
          <p
            class="hover:bg-accent cursor-pointer py-2 px-4 rounded-xl"
            (click)="navToProfile()"
          >
            {{ "navbar.profile" | translate }}
          </p>
          <p
            class="hover:bg-accent cursor-pointer py-2 px-4 rounded-xl"
            (click)="navToProfile()"
          >
            {{ "navbar.myGames" | translate }}
          </p>
          <p
            class="hover:bg-accent cursor-pointer py-2 px-4 rounded-xl"
            (click)="signOut()"
          >
            {{ "navbar.signOut" | translate }}
          </p>
        </div>
        }
      </div>

      <nav class="flex flex-col p-6">
        <a
          [routerLink]="'/'"
          routerLinkActive="bg-accent"
          [routerLinkActiveOptions]="{ exact: true }"
          class="py-2 px-4 rounded-xl hover:bg-accent/20"
        >
          {{ "navbar.home" | translate }}
        </a>
        <a
          [routerLink]="'/games'"
          routerLinkActive="bg-accent"
          class="py-2 px-4 rounded-xl hover:bg-accent/20"
        >
          {{ "navbar.games" | translate }}
        </a>
        <a
          [routerLink]="'/upload-game'"
          routerLinkActive="bg-accent"
          class="py-2 px-4 rounded-xl text-nowrap hover:bg-accent/20"
        >
          {{ "navbar.uploadGame" | translate }}
        </a>
      </nav>
    </div>
  </div>
</header>
